<style>

* {
    box-sizing: border-box;
  }

header
    {
        grid-area: header;
        text-align: center;
        background-color: #63B3ED ; 
        align-content: center;
    
    }

.header img[src = "header.jpg"] 
    {
        border-radius: 50%;
    }
.TextWrap
    {
        background-color: #aaa;
        padding: 0%;
        float: right;
        margin: 10px;
        border-radius: 0%;
    }

.TextWrap2
    {
        background-color: #aaa;
        float: left;
        margin: 10px;
        border-radius: 0%;
    }
.container 
{
    margin: 0;
    display: grid;
    grid-template-columns:  80% auto;
    grid-template-rows: 15% 80% auto;
    grid-template-areas: "header sidebar"
                             "section1 sidebar"
                              "footer sidebar";
    background-color: rgb(255, 255, 255);
}
body
    {

        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
  
    }

main 
{
    grid-area: section1;
    background-color: white;
}

aside
{
    grid-area: sidebar;

}

h1  {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

p   {
        color: rgb(0, 0, 0);
    }

p1
    {
        color:  #718096;
        padding: 0%;
        margin: 0%;
    }


footer 
    {
        padding: 20px;
        text-align: left;
        margin-top: 20px;
        background-color: rebeccapurple;
    }
</style>