<style>

* {
    box-sizing: border-box;
  }

header
    {
        grid-area: header;
        text-align: center;
        background-color: #63B3ED ; 
        align-content: center;
        padding-top: 50px;
        margin: 0px;
    }

img[src = "header.jpg"] 
    {
        
        border-radius: 50%;
    }

.TextWrap
    {
        background-color: #aaa;
        padding: 0%;
        float: right;
        margin: 10px;
        border-radius: 0%;
    }

.TextWrap2
    {
        background-color: #aaa;
        float: left;
        margin: 10px;
        border-radius: 0%;
    }
.container 
{
    margin: 0;
    display: grid;
    grid-template-columns:  80% auto;
    grid-template-rows: 30% 70% auto;
    grid-template-areas: "header header"
                             "section1 sidebar"
                              "footer footer";
    background-color: rgb(255, 255, 255);
}
body
    {

        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
        margin 0px;
    }

main 
{
    grid-area: section1;
    background-color: white;
}
aside
{
    font-family: 'Times New Roman', Times, serif;
    grid-area: sidebar;
    display: grid;
    text-align: left;
    grid-template-columns: auto;
    grid-template-rows: 2 2 2;
    grid-template-areas: "sect1"
                         "sect2"
                         "sect3";

}
sect1
{
    margin: 20px;
    padding: 20px;
    grid-area: sect1;
    text-align: left;
    background-color: #E2E8F0;
    
}
sect2
{
    margin: 20px;
    padding: 20px;
    text-align: left;
    grid-area: sect2;
}
sect3{
    margin: 20px;
    padding: 20px;
    text-align: left;
    grid-area: sect3;
}
h1  {
        color:  #FFFFFF;
        font-size: 36px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

p   {
        color: rgb(0, 0, 0);
    }

p1
    {
        color:   #718096;
        
    }

p3
    {
        color: #4299E1;
    }

p4
{
    color:  #FFFFFF;
}
h3 
    {
        color:  #48BB78;
    }
h2{
    color: #000000;
}

ul
{
    list-style-type: none;
    
}

li
{
    text-align: left;
    padding: 0px;
}
footer 
    {
        grid-area: footer;
        padding: 20px;
        text-align: left;
        margin-top: 20px;
        background-color:  #2C5282;
    }

</style>